# Ignore node_modules directory
node_modules/

# Ignore node_modules directory
uploads/*

# Ignore log files
log.txt
logs.txt

# Ignore .env files
*.env

# Ignore compiled binaries
*.exe
*.dll
.vercel


